.header{
    width: 100vw;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #5c6bc0;
    .left-content{
        display: flex;
        align-items: center;
        .sys-name{
            box-sizing: border-box;
            width: 240px;
            padding-left: 24px;
            font-size: 32px;
            color: white;
        }
        .search-content{
            display: flex;
            align-items: center;
            margin-right: 12px;
            #keywords{
                width: 300px;
                padding: 12px 16px;
                border-radius: 4px 0 0 4px;
                border: none;
            }
            #search{
                border: none;
                cursor: pointer;
                border-radius: 0 4px 4px 0;
                padding: 12px 16px;
            }
        }
    }
    
    .right-content{
        display: flex;
        align-items: center;
        padding-right: 24px;
        .user-info  #logout{
           font-size: 32px;
           color: white;
        }   
    }
}


.main-content{
    display: flex;
    .side-bar-container{
        border-right: 1px solid #aaa;
        height: calc(100vh - 64px);
        i{
            margin-right: 12px;
        }
        #side-bar{
            li{
                padding: 16px 20px;
            }
        }
    }
    #breadcrumb{
        line-height: 40px;
        font-size: 1rem;
        text-align: left;
        border-radius: 40px;
        background-color: rgba(92, 107, 192, 0.15);
        margin: 12px;
        .my-drive{
            padding: 0 4px;
            line-height: 40px;
            &.active{
                font-weight: 900;
            }
            &:not(.active):hover{
                color: #5c6bc0;
                border-bottom: 1px #5c6bc0 solid;
                cursor: pointer;
            }
        }
        .breadcrumb{
            &.active{
                font-weight: 900;
            }
            &:not(.active):hover{
                color: #5c6bc0;
                border-bottom: 1px #5c6bc0 solid;
                cursor: pointer;
            }
        }
        .breadcrumb-delimiter{
            margin: 0 12px;
        }
    }
}
.tool-drive{
    &:first-child{
        margin-left: 12px;
    }
}
#toolbar{
    line-height: 40px;
    &:first-child{
        margin-left: 12px;
    }
    button{
        padding: 12px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover{
            background-color: rgba(92, 107, 192, 0.15);
            border-radius: 50%;
        }
    }
}
.my-trash{
    margin-left: 12px;
}
.add-btn{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #5c6bc0;
    color: #5c6bc0;
    background-color: #fff;
    padding: 8px;
    &:hover{
        cursor: pointer;
        background-color: rgba(92, 107, 192, 0.2);
    }
}

.side-bar-menu{
    &.active{
        cursor: default;
    }
    &:not(.active):hover{
        background-color: rgba(92, 107, 192, 0.5);
        cursor: pointer;
      }
}